<ion-content class="ion-padding">
  <ion-img src="assets/LogoCK.png" class="logo" [routerLink]="['/home']"></ion-img>
  
 
   
      <ion-col size="6">
        <ion-card class="card1">
          <img alt="Silhouette of mountains" src="https://i.pinimg.com/564x/4b/28/fb/4b28fb41915c417e2dff0ea5f28fb921.jpg" />
          
          <ion-card-header class="titulo">
            <ion-card-title>which is the DOGI?🐕</ion-card-title>
            
          </ion-card-header>
        </ion-card>
      </ion-col>


      <ion-card class="ionpadre"color="medium">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <div [ngClass]="{ 'class-name1': !estadoimagen1, 'class-name2': estadoimagen1 }">
                <ion-button (click)="cambiarimagen1(estadoimagen1 !== undefined ? !estadoimagen1 : false)"(click)="presentSimpleAlert()">
                  <ion-card  class="ionimg">
                    <img alt="Silhouette of mountains" class="juan" src="https://i.pinimg.com/564x/c4/ae/22/c4ae224e5c7dbd02f02b06b7ffa2ef57.jpg" />
                  </ion-card>
                </ion-button>
                </div>
              </ion-col>
        
              <ion-col size="6">
                <div [ngClass]="{ 'class-name1': !estadoimagen2, 'class-name2': estadoimagen2 }">
                <ion-button (click)="cambiarimagen2(estadoimagen2 !== undefined ? !estadoimagen2 : false)" (click)="presentAlert('')">
                  <ion-card class="ionimg">
                    <img alt="Silhouette of mountains" class="juan"src="https://i.pinimg.com/564x/4b/28/fb/4b28fb41915c417e2dff0ea5f28fb921.jpg" />
                  </ion-card>
                </ion-button>
              </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <div [ngClass]="{ 'class-name1': !estadoimagen3, 'class-name2': estadoimagen3 }">
                <ion-button (click)="cambiarimagen3(estadoimagen3 !== undefined ? !estadoimagen3 : false)" (click)="presentSimpleAlert()">
                  <ion-card class="ionimg">
                    <img alt="Silhouette of mountains" class="juan"  src="https://i.pinimg.com/564x/a6/3a/37/a63a37268df92e49d239b9d48b543548.jpg" /> </ion-card>
                </ion-button>
                </div>
              </ion-col>
        
              <ion-col size="6">
                <div [ngClass]="{ 'class-name1': !estadoimagen4, 'class-name2': estadoimagen4 }">
                 <ion-button (click)="cambiarimagen4(estadoimagen4 !== undefined ? !estadoimagen4 : false)" (click)="presentSimpleAlert()">
                  <ion-card class="ionimg">
                    <img alt="Silhouette of mountains"class="juan"  src="https://i.pinimg.com/564x/aa/ce/69/aace69b1d9ab1d6ac5abf7a603639676.jpg" /> </ion-card>
                </ion-button>
                </div>
              </ion-col>
            </ion-row>


          </ion-grid>
        </ion-card-content>
      </ion-card>
      
      
    
   
      <ion-button  class="boton1" (click)="confirmarRedireccion()">Go to Menu 📃</ion-button>
</ion-content>