<ion-content class="ion-padding">
  <ion-img src="assets/LogoCK.png" class="logo" [routerLink]="['/home']"></ion-img>
  

  
      <ion-col size="6">
        
        <ion-card class="card1">
        <ion-button>
          <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/1024px-Speaker_Icon.svg.png" />
        </ion-button>
          <ion-card-header class="titulo">
            <ion-card-title>which is the chiken?🐕</ion-card-title>
            
          </ion-card-header>
        </ion-card>
      </ion-col>


      <ion-card class="ionpadre"color="medium">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-button >
                  <ion-card  class="ionimg">
                    <img alt="Silhouette of mountains" class="juan" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/1024px-Speaker_Icon.svg.png" />
                  </ion-card>
                </ion-button>
              </ion-col>
        
              <ion-col size="6">
                <ion-button >
                  <ion-card class="ionimg">
                    <img alt="Silhouette of mountains" class="juan"src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/1024px-Speaker_Icon.svg.png" />
                  </ion-card>
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-button >
                  <ion-card class="ionimg">
                    <img alt="Silhouette of mountains" class="juan"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/1024px-Speaker_Icon.svg.png" /> </ion-card>
                </ion-button>
              </ion-col>
        
              <ion-col size="6">
                <ion-button >
                  <ion-card class="ionimg">
                    <img alt="Silhouette of mountains"class="juan"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/1024px-Speaker_Icon.svg.png" /> </ion-card>
                </ion-button>
              </ion-col>
            </ion-row>


          </ion-grid>
        </ion-card-content>
      </ion-card>
    

      <ion-button class="boton1" [routerLink]="['/menu']">Go to Menu 📃</ion-button>
 
      <ion-button class="boton1" [routerLink]="['/audio4']">Go to Menu 📃</ion-button>
</ion-content>