<ion-content class="ion-padding">
  <ion-img src="assets/LogoCK.png" class="logo" [routerLink]="['/home']"></ion-img>
  
 
   
      <ion-col size="6">
        <ion-card class="card1">
          <img alt="Silhouette of mountains" src="https://i.pinimg.com/564x/cf/e4/b3/cfe4b3eccd8be3781333229a2b59a3ee.jpg" />
          
          <ion-card-header class="titulo">
            <ion-card-title>which is the TIGER?🐕</ion-card-title>
            
          </ion-card-header>
        </ion-card>
      </ion-col>


      <ion-card class="ionpadre"color="medium">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <div [ngClass]="{ 'class-name1': !estadoimagen1, 'class-name2': estadoimagen1 }">
                <ion-button (click)="cambiarimagen1(estadoimagen1 !== undefined ? !estadoimagen1 : false)"(click)="presentAlert('')">
                  <ion-card  class="ionimg">
                    <img alt="Silhouette of mountains" class="juan" src="https://i.pinimg.com/564x/cf/e4/b3/cfe4b3eccd8be3781333229a2b59a3ee.jpg" />
                  </ion-card>
                </ion-button>
                </div>
              </ion-col>
        
              <ion-col size="6">
                <div [ngClass]="{ 'class-name1': !estadoimagen2, 'class-name2': estadoimagen2 }">
                <ion-button (click)="cambiarimagen2(estadoimagen2 !== undefined ? !estadoimagen2 : false)" (click)="presentSimpleAlert()">
                  <ion-card class="ionimg">
                    <img alt="Silhouette of mountains" class="juan"src="https://i.pinimg.com/736x/2d/70/e7/2d70e7919716c35c8765c4cf02c40b46.jpg" />
                  </ion-card>
                </ion-button>
              </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <div [ngClass]="{ 'class-name1': !estadoimagen3, 'class-name2': estadoimagen3 }">
                <ion-button (click)="cambiarimagen3(estadoimagen3 !== undefined ? !estadoimagen3 : false)" (click)="presentSimpleAlert()">
                  <ion-card class="ionimg">
                    <img alt="Silhouette of mountains" class="juan"  src="https://i.pinimg.com/564x/51/6c/f1/516cf166d91f7492eb6290ffd8f51eb2.jpg" /> </ion-card>
                </ion-button>
                </div>
              </ion-col>
        
              <ion-col size="6">
                <div [ngClass]="{ 'class-name1': !estadoimagen4, 'class-name2': estadoimagen4 }">
                 <ion-button (click)="cambiarimagen4(estadoimagen4 !== undefined ? !estadoimagen4 : false)" (click)="presentSimpleAlert()">
                  <ion-card class="ionimg">
                    <img alt="Silhouette of mountains"class="juan"  src="https://i.pinimg.com/564x/fa/c9/c2/fac9c20301479bcc7f9c08b3d7ec90b7.jpg" /> </ion-card>
                </ion-button>
                </div>
              </ion-col>
            </ion-row>


          </ion-grid>
        </ion-card-content>
      </ion-card>
      
      
    
   
      <ion-button  class="boton1" (click)="confirmarRedireccion()">Go to Menu 📃</ion-button>
</ion-content>